@model IEnumerable<Perfume.Models.sanPham>

@{
    ViewBag.Title = "Product";
}

<h2>Product</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.tenSanPham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idThuongHieu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tinhTrang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hanSuDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dungTich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.soLuong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.moTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Yeuthich)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoSao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.tenSanPham)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idThuongHieu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tinhTrang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hanSuDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dungTich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.soLuong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.moTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Yeuthich)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoSao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
